device: cuda:0

exp_dir: ./experiments/infer/test_video

infer_type: inpaint  # inv / warp / coarse / inpaint
use_depth_est: False  ##
novel_view: video  # random / yaw / circle / video

data:
  batch_size: 4
  num_workers: 4
  path: ./data/test_img
  cam_json: dataset.json
  skip_batch: 0
  
gan:
  device: ${device}
  eg3d_type: plus_r  # null / ori_pth / ori / ori_r / plus / plus_r
  encoder_type: goae
  psp:
    n_styles: 14
  goae:
    mlp_layer: 2
    cfg: ./configs/swinv2.yaml
  state_dict_key: psp_state_dict
  checkpoint_path: ./pretrained_models/inversion/gan_encoder.pt ##

warp:
  warp_ori_train: True  # True -> 512x512, False -> 256x256
  warp_ori_val: True  ## True
  warp_pred: False  ##
  erode_kernel: 3  ## 3
  gaussian_blur_kernel: 21  ## 21
  hybrid: True

ckpt_inpaintor: ./pretrained_models/inpaintor/inpaintor.pt

generator:
  kind: ffc_style_resnet  # ffc_resnet / ffc_style_resnet
  input_nc: 4
  output_nc: 3
  ngf: 64
  n_downsampling: 3
  n_blocks: 9  ##
  add_out_act: sigmoid
  refine: False  ##
  cat_inv: True
  input_mirror: condition  # null / cat / condition
  use_style: style_res  # null / style_res

  init_conv_kwargs:
    ratio_gin: 0
    ratio_gout: 0
    enable_lfu: False

  downsample_conv_kwargs:
    ratio_gin: ${generator.init_conv_kwargs.ratio_gout}
    ratio_gout: ${generator.downsample_conv_kwargs.ratio_gin}
    enable_lfu: False

  resnet_conv_kwargs:
    ratio_gin: 0.75
    ratio_gout: ${generator.resnet_conv_kwargs.ratio_gin}
    enable_lfu: False


###################################################
defaults:
  - _self_  
  - override hydra/hydra_logging: disabled
  - override hydra/job_logging: disabled

hydra:  
  output_subdir: null  
  run:  
    dir: .