device: cuda:0
exp_dir: ./experiments/train_inpaintor/styleb9_mirrorCond_latent01

checkpoint_path: null

max_steps: 300000  # 1500000

data:
  batch_size: 2
  workers: 4
  test_batch_size: 2
  test_workers: 4
  rebalanced: False  ##
  add_LPFF: False  ##
  synth:
    able: True
    zplus: False  ##
    batch_size: ${data.batch_size}

gan:
  device: ${device}
  eg3d_type: plus_r  # null / ori / ori_r / plus / plus_r
  encoder_type: goae  # psp / goae
  psp:
    n_styles: 14
  goae:
    mlp_layer: 2
    cfg: ./configs/swinv2.yaml
  state_dict_key: psp_state_dict
  checkpoint_path: ./pretrained_models/inversion/gan_encoder.pt

warp:
  warp_ori_train: True  # True -> 512x512 / False -> 256x256
  warp_ori_val: True  ## True
  warp_pred: False  ##
  erode_kernel: 3  ## 3
  gaussian_blur_kernel: 21  ## 21
  hybrid: True

losses:
  with_mask: False  ##
  l1:
    weight_missing: 0
    weight_known: 10
  mse:
    weight_missing: 0
    weight_known: 0
  perceptual:
    weight: 0
  adversarial:
    kind: r1
    weight: 10
    gp_coef: 0.001
    mask_as_fake_target: ${losses.with_mask}
    allow_scale_mask: True
  feature_matching:
    weight: 100
  resnet_pl:
    weight: 30
    weights_path: ./pretrained_models/LaMa_perceptual_loss_models
  lpips:
    weight: 0
  id:
    weight: 0.5  ##
  latent:
    weight: 0.1
  depth:
    weight: 0
  mirror:
    weight: 0  ## 0.1
    # normalize_mirror: False
    rec_only: True  ##

generator:
  kind: ffc_style_resnet  # ffc_resnet / ffc_style_resnet
  input_nc: 4
  output_nc: 3
  ngf: 64
  n_downsampling: 3
  n_blocks: 9  ##
  add_out_act: sigmoid
  refine: False  ##
  cat_inv: True  # True
  input_mirror: condition  # null / cat / condition / condition_twice
  use_style: style_res  # null / style_res

  init_conv_kwargs:
    ratio_gin: 0
    ratio_gout: 0
    enable_lfu: False

  downsample_conv_kwargs:
    ratio_gin: ${generator.init_conv_kwargs.ratio_gout}
    ratio_gout: ${generator.downsample_conv_kwargs.ratio_gin}
    enable_lfu: False

  resnet_conv_kwargs:
    ratio_gin: 0.75
    ratio_gout: ${generator.resnet_conv_kwargs.ratio_gin}
    enable_lfu: False

discriminator:
  kind: pix2pixhd_nlayer
  input_nc: 3
  ndf: 64
  n_layers: 4

optimizers:
  generator:
    kind: adam
    lr: 0.001
  discriminator:
    kind: adam
    lr: 0.0001

log:
  image_interval: 500
  board_interval: 100
  val_interval: 10000
  save_interval: 10000

  use_wandb: False


###################################################

defaults:
  - _self_  
  - override hydra/hydra_logging: disabled
  - override hydra/job_logging: disabled

hydra:  
  output_subdir: null  
  run:  
    dir: .